doctype html
html(lang='en')
    head
        meta(content='text/html; charset=UTF-8', http-equiv='content-type')

        title Twitch Chat Replay

        link(rel='stylesheet', type='text/css', href='/browseraction/css/style.css')
        script(src='/browseraction/js/popup.js')
    body
        #header
            h1 Twitch Chat Replay
        
        #content
            input#openChatButton.openChatDialogButton(type='button', value='Open Chat Popup')
            h3#vlcinfo ~
        
        #footer
            span#version v0.9.4 beta
            input#openSettingsButton(type='button', alt='Open Settings Page', title='Open Settings Page')