html
    text-size-adjust 100%
    font-size 62.5%
    -webkit-text-size-adjust 100%

body
    background #faf9fa
    color #19171c
    font-family Helvetica Neue,Helvetica,Arial,sans serif
    font-size 1.2rem
    line-height 2rem
    
body.ember-application
    height 100%!important    
    overflow-x hidden

    
.chat-container, .ember-chat-container
    background #faf9fa
    color #19171c
    
*
    margin 0
    padding 0
    box-sizing border-box
    
button
    font-family inherit
    border none
    background none
    color inherit
    font-size 100%
    
.button
    background #6441a4
    color white
    display inline-block
    position relative
    margin 0
    padding 0 1rem
    transition background .12s ease-in,color .12s ease-in,box-shadow .12s ease-in
    font-weight 400
    line-height 3rem
    white-space nowrap
    cursor pointer
    font-size 12px
    
.button:hover
    cursor pointer
    
.button:hover, .button:focus
    cursor pointer
    background #7d5bbc
    color white
    text-decoration none
    
.button:focus
    box-shadow 0 0 6px 0 #7d5bbe
    outline none
    
.button:active
    background #6441a4
    color white
    box-shadow 0 0 6px 0 #7d5bbe
 
.chat-interface
    padding 0px
    bottom 0
    width 100%
    position absolute
    box-sizing border-box
    left 0px
    right 0px
    height 210px
 
input, textarea, select
    border-radius 2px
 
.chat-messages, .chat-line
    font-family inherit!important
    font-size inherit!important
    
.chat-messages
    left 0px
    right 0px
    top 0px!important
    bottom 114px
    background-color #efeef1
    position absolute
    width auto!important
    height auto!important
    overflow hidden   
    
.chat-messages
    font-size 13.33333px
    line-height 17.33333px
    
.tse-scroll-content
    width auto!important
    height auto!important
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    overflow hidden
    overflow-y scroll
    padding 0px
    
.tse-scroll-content::-webkit-scrollbar
    width 0
    height 0
 
.top-0
    top 0!important
    
.right-0
    right 0!important
    
.left-0
    left 0!important
    
.bottom-0
    bottom 0!important
    
.pos-fixed
    position fixed

.ember-chat-container
    height 100%
    width 100%
    
.ember-chat
    position relative
    height 100%
    min-width 250px
    margin 0px
    
.ember-view.ember-chat.roomMode
    background #efeef1!important
    
.chat-room
    top 0px
    left 0
    right 0
    bottom 0
    position absolute
    display block
    z-index 4
    background-clip content-box

.tse-content
    overflow hidden!important
    
.chat-lines
    padding 10px 0
    list-style-type none
    
ol, ul, li
    list-style none
    list-style-type none
    
p#chat_line_list.line.chat_line, .message-line.chat-line
    word-break break-word
    padding 0.4em 0.8em
    line-height 1.3em
    
.chat-line
    font-size 12px
    line-height 20px
    padding 6px 20px
    margin -3px 0
    word-wrap break-word
    list-style-position unset
    
li
    list-style-position inside
    
.timestamp
    color #6e6779
    margin-right 5px
    
.badges
    display inline-block
    
.badges:after
    content ''
    display table
    clear both
    
.from
    font-weight 700
    text-transform none!important
    word-break break-all
    
.colon
    margin-right 2px
    
img.chat_line, img.message
    vertical-align baseline!important
    
.emoticon
    vertical-align baseline!important
    display inline-block
    padding-top 5px
    background-position center center
    background-repeat no-repeat
    margin -0.5rem 0
    
img
    border none
    vertical-align top
    max-width 100%
    
.line.admin, .line.staff, .line.broadcaster, .line.mod, a.line.turbo, a.line.subscriber, .badge, a.badge
    border-radius 2px
    margin -1px 3px 1px 0
    float none

.float-left
    float none!important
    
.badges.subscriber
    cursor pointer
    
.badge
    height 18px
    min-width 18px
    display inline-block
    vertical-align middle
    float left
    margine 1px 3px 1px 0
    
.turbo
    cursor pointer
    background #6441a5 url(https://web-cdn.ttvnw.net/images/xarth/badge_turbo.svg)
    background-size 100%
    
.bttv-emoji
    height auto
    width 20px
    margin-bottom -4px
    display inline-block
    
.TCR-ddMenu.show, .TCR-ddEpMenu.show
    display block

.chat-room
    top 0px
    
.TCR-dropdown
    display inline-block
    
.TCR-ddButton    
    margin 10px!important
    margin-bottom 0px!important
    max-width 100px
    width 100px
    overflow hidden
    text-overflow ellipsis
    
.TCR-ddMenu
    display none
    position absolute
    overflow auto
    z-Index 1
    max-height 160px
    overflow-y scroll
    
.TCR-ddMenu div
    display block
    margin-left 10px
    overflow hidden
    text-overflow ellipsis
    width 100px
    max-width 100px
    white-space nowrap
    color white
    background #8a66cc
    padding 0 1rem
    transition background .12s ease-in,color .12s ease-in,box-shadow .12s ease-in
    cursor pointer
    
.TCR-ddMenu div:hover    
    background #9d7bde
    color white
    text-decoration none
    
.TCR-ddMenu div:focus
    outline none
    color white
    box-shadow 0 0 6px 0 #9d7bde
    
.TCR-ddMenu div:active
    background #8a66cc
    color white
    box-shadow 0 0 6px 0 #9d7bde
    
.TCR-dropdownEp
    display inline-block
    
.inactive
    opacity 0.3
        
.TCR-ddEpButton    
    margin 0px!important
    margin-bottom 0px!important
    max-width 55px
    width 55px
    overflow hidden
    text-overflow ellipsis
    
.TCR-ddEpMenu
    display none
    position absolute
    overflow auto
    z-Index 1
    max-height 160px
    overflow-y scroll
    
.TCR-ddEpMenu div
    display block
    overflow hidden
    text-overflow ellipsis
    width 55px
    max-width 55px
    white-space nowrap
    color white
    background #8a66cc
    background2 #2c2541
    padding 0 1rem
    transition background .12s ease-in,color .12s ease-in,box-shadow .12s ease-in
    cursor pointer
    
.TCR-ddEpMenu div:hover    
    background #9d7bde
    background2 #392e5c
    color white
    text-decoration none
    
.TCR-ddEpMenu div:focus
    outline none
    color white
    box-shadow 0 0 6px 0 #9d7bde
    
.TCR-ddEpMenu div:active
    background #8a66cc
    color white
    box-shadow 0 0 6px 0 #9d7bde
    
    
#TCR-timeDiv
    display inline-block
    border-radius 30px
    border-color #6441a4
    border-style solid
    border-width 5px
    padding 0 0.5rem
    background #6441a4
    color white
    height 30px
    width 61px
    text-align center

#TCR-playButton
    margin 1rem!important
    padding 0!important
    //position absolute!important
    //right calc(30% - 26px)
    width 32px
    
#TCR-playButton:after
    content ''
    display inline-block
    width 0
    height 0
    border transparent solid 6px
    border-top-width 6px
    border-bottom-width 0
    border-top-color #ffffff
    transition all .12s
    margin 0 10px
    transform rotate(270deg)
    
#TCR-playButton.pause:after
    border-color transparent
    border-left 3px solid white
    border-right 3px solid white
    border-top 0px
    width 4px
    height 10px
    background transparent
    position relative
    vertical-align middle
    transform rotate(0deg)

#TCR-playButton.next:after
    width 1px
    height 0px
    left -1px
    border-top-color transparent
    border-bottom-width 6px
    border-right-width 0px
    border-left-color #ffffff
    box-shadow: 2px 0px 0px #ffffff
    transform rotate(0deg)
    vertical-align middle
    position relative
    
#TCR-panel
    background-color #e0e0e0
    height 210px!important
    transition height 0.3s ease-in

#TCR-panel.panelToggle
    height 50px!important

.message-line.chat-line.ember-view.tcrmsg.snacks
    background orange
    color white
    
.message-line.chat-line.ember-view.tcrmsg.fin
    background black
    color white

.tcrmsgdiv
    height 50px
    display flex
    
.timestamp.float-left.tcrmsg 
    display none
    
.from.tcrmsg 
    display none
    
.colon.tcrmsg
    display none

.message.tcrmsg
    margin auto
    font-size xx-large
    font-family cursive
    
#TCR-timeInput
    width 60px
    box-shadow: inset 0 0 0 1px #dad8de, 0 0 0 transparent
    color #433f4a
    position relative
    padding 1px 1px
    transition box-shadow .12s ease-in
    border none
    font-family inherit
    font-size 1.2rem
    line-height 2rem
    text-align center
    margin-right 10px
    float right
    right 42px
    outline 0
    margin-bottom 3px
    
#TCR-timeInput:focus
    box-shadow inset 0 0 0 1px #7d5bbe, 0 0 6px -2px #7d5bbe
    border 1px solid #aaa
    color #000000
    padding 0px
    
#TCR-delayInput
    width 60px
    box-shadow: inset 0 0 0 1px #dad8de, 0 0 0 transparent
    color #433f4a
    position relative
    padding 1px 1px
    transition box-shadow .12s ease-in
    border none
    font-family inherit
    font-size 1.2rem
    line-height 2rem
    text-align center
    margin-right 10px
    float right
    right 42px
    outline 0
    margin-bottom 3px

#TCR-delayInput:focus
    box-shadow inset 0 0 0 1px #7d5bbe, 0 0 6px -2px #7d5bbe
    border 1px solid #aaa
    color #000000
    padding 0px

#TCR-inputsDiv
    float right

#TCR-delayLabel
    padding 1px 1px
    position relative
    float right
    right -60px
    color #555555

.scroll.chat-messages.panelToggle
    bottom 50px!important
    
.scroll.chat-messages
    bottom 210px!important
    transition bottom 0.3s ease-in
    
.TCR-panelButton
    margin 1rem!important
    padding 0!important
    position absolute!important
    right 0
    
.panelButtonToggle
    transform rotate(180deg)
    
.TCR-panelButton:after
    content ''
    display inline-block
    width 0
    height 0
    border transparent solid 6px
    border-top-width 6px
    border-bottom-width 0
    border-top-color #ffffff
    transition all .12s
    margin 0 10px
    
.textarea-contain
    display none
    
.chat-interface__wrap
    display none