.panel#aboutPanel
    .optionsBody
        h1.line
            a(href="https://twitchchatreplay.com")#abTitle Twitch Chat Replay
        h2.line
            div#abAuthor By Abyss
        p.line#tagline
            img(class='bt' src='https://static-cdn.jtvnw.net/emoticons/v1/86/1.0')
            | This used to be the happiest chat in the world
            img(class='bt' src='https://static-cdn.jtvnw.net/emoticons/v1/86/1.0')
        hr
        h2 Inspired By:
        p.condensed
            a(href="https://github.com/melalawi/GlobalTwitchEmotes" target="_blank") GlobalTwitchEmotes
        p.condensed
            a(href="https://github.com/pencil/rechat" target="_blank") ReChat
        p.condensed
            a(href="https://www.nightdev.com/betterttv/" target="_blank") Better Twitch TV
        hr
        p.line Feel free to message me with comments, concerns, or anything else, see website for updates and cool details:

        .contactContainer
            a(href='https://twitch.tv/ahAbyss') Twitch
            a(href='mailto:ahAbyss08@gmail.com') Email
            a(href='https://twitchchatreplay.com') Website