doctype html
html(lang='en')
    head
        meta(content='text/html; charset=UTF-8', http-equiv='content-type')

        link(rel='stylesheet', type='text/css', href='/contentscript/css/style.css')
        script(src='/contentscript/vendor/autolinker.js')
        script(src='/contentscript/vendor/jquery.min.js')
        script(src='/contentscript/vendor/twemoji.min.js')
        script(src='contentscript.js')
    body
        